body{
    margin: 0px;
}

.first{
    /* background-color: blue; */
    margin-top: 0px;
    margin-right: 0px;
}

#camera--sensor{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#camera--view{
    width: 50%;
    /* height: 20%; */
}

h1{
    color: teal;
    font-family: sans-serif;
}

p{
    /* border-radius: 0px 25px 10px 10px; */
    background-color: teal;
    height: 6%;
    color: white;
    text-align: center;
    /* padding-left: 50px; */
    padding-top: 7px;
    /* margin-right: 20px; */
    /* margin-bottom: 0px; */
    font-weight: 200px;
    font-size: 20px;
    font-family: sans-serif;
    transform: translateY(-70px);
}

.myCanvas{
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(70%, -20%);
}

#Gama{
    font-size: 20px;
    font-family: sans-serif;
    transform: translate(320%, 110%);
    width: 10%;
}
